body{
    background-color:#27044B;
    color:white;
}

.container{
    background-color: rgb(107, 39, 176, 0.2);
    display:flex;
    flex-direction: column;
    margin-top:160px;
    margin-left:5%;
    height:544px;
    width:485px;
    border:1px rgb(255, 255, 255, 0.2) solid;
    border-radius:20px;
   
    font-family: 'Open Sans', sans-serif;
    
}
.heading{
    margin-top:60px;
    margin-bottom:25px;
    margin-left:55px;
    font-size:45px;
    font-family: 'Open Sans', sans-serif;
}

.container p{
   
}



.container input{
    background-color: rgb(235, 238, 248, 0.1);
    border:none;
    font-size:16px;
    width: 370px;
    
    margin-left:55px;
    margin-right:60px;
    
    margin-top:30px;
    /* margin-bottom:18px; */
    padding-left:12px;
    height:60px;
    border-radius:10px;
    border: 1px rgb(255, 255, 255, 0.1) solid;
    color:white;
   
}
.container input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
}

.button-login{
    width:100px;
    height:50px;
    font-size:22px;
    background-color: white;
    color:rgb(107, 39, 176);
    border:none;
    margin-top:70px;
    margin-left:55px;
    border-radius:20px;
}
.forgot{
    margin-top:85px;
    margin-right:40px;
    font-size:20px;

}
.color1{
    width:100px;
    height:100px;
    border-radius: 50px;
    background-color: #871498;
    margin-top:600px;
    margin-left:200px;
    filter:blur(20px);
}

.color2{
    width:300px;
    height:300px;
    border-radius: 150px;
    background-color: #53189F;
    margin-top:100px;
    filter:blur(50px)
   
}
.page{
    display:flex;
    flex-direction: row;
    flex-shrink:0;
}

.bottom-line{
    display:flex;
    flex-direction: row;
    justify-content:space-between ;
}
 